body {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
/*    background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);*/
/*    background-image: url("/Img/pencil.jpeg");*/
    
}

h1 {
    text-align: center;
    color: black;
    font-size: 50px;
    font-family: cursive;
}

.about-us {
    width: 100%;
    margin-top: 60px;
}

.about-us-name-description {
    width:99%;
    display: inline-block;
    padding-left: 10px;
}

.about-us h3 {
    font-size: 25px;
    margin-top: 10px;
}

.about-us p {
    font-size: 20px;
    font-family: monospace;
}

.about-us-image {
    width:100%;
    display:inline-block;
    margin: auto;
    text-align: center;

}

.about-us-image img {
    height: 300px;
    margin: 20px;
    margin-top: 40px;
}

.bg-lightgrey {
    background-color: white;
}

#gototop {
    margin: 50px;
    text-align: center;
}

#gototop a {
    font-size: 30px;
    color: white;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
}

#copyright {
/*    background-color: black;*/
    color: white;
    font-size: 18px;
}